body {
    font-family: "Times New Roman", serif;
    background: #f2f4f7;
}

.container {
    width: 800px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2, h3 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

